*{
	padding: 0;
	margin: 0;
}
#tipsWindown{
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;	
	z-index: 100;
}
#btn1,#btn2,#btn3{
	height: 30px;
	width: 50px;
}
#tipsWindown-tittle{
	border-bottom: 1px solid #dadbdc;
	background: #f8f8f8;
	border-radius: 5px;
	height: 40px;
	width: 100%;
	font-size: 18px;
	line-height: 40px;
	color: #696866;
	text-align: center;
}
#tipsWindown-foot{
	line-height: 40px;
	border-top: 1px solid #dadbdc;
	background: #f8f8f8;
	border-radius:5px ;
	height: 40px;
	width: 100%;
	position: relative;
	text-align: center;
}
#stipsWindown-section{
	line-height: 30px;
	width: 100%;
	text-align: center;
}
#tipsWindown-ensure{
	width: 68px;
	height: 30px;
	background: #3985af;
	font:15px/30px "微软雅黑" ;
	color: #fff;
	position: absolute;
	right: 10px;
	top: 5px;
	border: none;
	cursor: pointer;
}
#tipsWindown-close{
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;
}
#tipsWindown-mask{
	background: #CCCCCC;
	z-index: 99;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
}
